body {
    width: 80%;
    margin: auto;
}
section {
    border: 1.5px solid #4a4a4a;
    padding: 20px;
    border-radius: 10px;
    height: 80svh;
    position: relative;
}
.add-subreddit {
    cursor: pointer;
    border: 1.5px solid #4a4a4a;
    padding: 2px 4px;
    border-radius: 50%;
}
.popup {
    border: 1.5px solid #4a4a4a;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 250px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
input[type="text"] {
    outline: none;
    border: 1.5px solid #4a4a4a;
    padding: 5px;
    border-radius: 5px;
}
button {
    outline: none;
    border: none;
    background-color: #4a4a4a;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


